.add_field  input.form-field,.add_field  select.form-field.select-field-type  {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.add_field input.form-control,.add_field textarea.form-control.textarea{
    background: #fff !important;
}
label {
    color: #000;
    font-weight: 600 !important;
}
.Required_label label {
    display: flex;
    align-items: center;
}
.Required_label input.form-control {
    width: auto;
    margin-right: 6px !important;
    box-shadow: none;
}
span.add-new-field {
    background: #bc9c23;
    padding: 10px;
    color: #ffff;
    position: relative;
    top: -8px;
    float: right;
}
span.remove-field.text-danger {
    float: right;
    background: #a94442;
    padding: 6px 10px;
    color: #fff;
    margin-bottom: 10px;
}
.redio_btns {
    width: auto;
}
.add_field  button {
    padding: 10px;
    background: #337ab7;
    color: #fff;
    border: none;
}
.add_field .row {
    margin: 0 !important;
}
a.btn.btn-primary {
    margin-right: 0;
}
.custom-list-dropdown .dropdown-menu {
    width: 100%;
    margin: 0;
    padding: 10px 2px;
}
.add_field .form-field.textarea {
    width: 100%;
    background: #fff;
    border-radius: 5px;
}
.mcq.mcq-parent {
    display: flow-root;
    column-gap: 10px;
}
.add-mcq {
    display: block;
}
.form-field.redio_btns {
    width: auto !important;
}
.mcq.mcq-parent .mcq-field {
    padding: 12px 12px 12px 0;
}
.remove-mcq {
    position: absolute;
    top: 14px;
    right: 20px;
}
input.form-control {
    box-shadow: none;
}
.main-fields-div {
    background: #e7e7e7;
    padding: 20px 15px;
    border-radius: 10px;
    margin: 10px 0;
}
.submit_all_fields .redio_btns {
    margin: 0 10px 0 0 !important;
}
.submit_all_fields span {
    display: flex;
    align-items: center;
}
.submit_all_fields {
    display: flex;
    column-gap: 10px;
}
.submit_all_fields .redio_btns {
    width: auto;
}
.form_fields {
    margin: 20px 0 0 0;
}
.answer {
    margin-left: 50px;
    font-size: 16px;
}
.answer-div label {
    font-size: 18px;
}
.w-50-cust {
    width: 49%;
}
.d-flex-cust {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
textarea.form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
}
.mt-10 {
    margin-top: 10px;
}
table td.email {
    text-transform: none;
}
/*  */
.nav>li>a {
    display: flex;
    align-items: center;
}
.toggle a {
    margin-left: 6px;
}

.navbar-right button {
    padding: 10px 20px;
    font-family: Poppins;
    font-weight: 500;
    width: 100%;
    text-align: left;
    margin: 0;
    color: #000;
}
.navbar-right form {
    display: flex;
    align-items: center;
}

.navbar-right i.fa.fa-sign-out.pull-right {
    font-size: 15px;
    position: relative;
    left: 9px;
    top: 3px;
}
#personal-info select.form-control {
    margin: 10px 0 !important;
}
/* .alert-success {
    background-color: rgb(192 163 52);
    border-color: rgb(192 163 52);
} */
select.form-control {
    margin: 10px 0 !important;
}
.nav.title h2 {
    font-size: 16px !important;
    font-family: "poppins";
}
.error-list-none {
    list-style: none;
    padding: 0;
}
.error-list-none li {
    /* color: #a94442; */
    font-size: 13px;
}
li.text-danger {
    color: #df2623;
} 
.profile-pic-main img {
    width: 150px;
    margin: auto;
    display: flex;
    border-radius: 50%;
    border: 1px solid #dcd6d6;
    height: 150px;
    object-fit: cover;
}
input.is-invalid {
    border-color: #a94442 !important;
}
.table-form-btn button {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
}
.end_form {
    padding-left: 10px;
}
.end_date {
    padding: 0 10px;
}
.create_card {
    box-shadow: 0px 7px 10px 0px #00000026;
    background: #fff7f7;
    padding: 36px 0 28px;
    margin: 0 10px 0 0;
    text-align: center;
    border-radius: 10px;
}
.create_card span {
    font-size: 14px;
}

.create_card i.fa {
    font-size: 20px;
    margin-right: 7px;
    color: #c0a334;
}
.actions-direct {
    padding-left: 10px;
}
.actions-direct h2 {
    font-size: 20px !important;
    font-weight: 500;
    font-family: "The Seasons";
}
.card-page h2 {
    font-size: 20px !important;
    padding-bottom: 12px;
}
a.counts-data {
    font-size: 16px;
    font-family: Poppins;
    padding-left: 20px;
}
.clinician_patients {
    border-right: 2px solid #929292;
    padding-left: 0 !important;
    padding-right: 20px;
}

.clinicians_data {
    padding: 16px 0;
}
h2.role {
    padding-top: 15px;
}
.nav.side-menu>li.active>a, .nav.side-menu>li.current-page>a {
    border: none !important;
}
.dataTables_filter input.form-control.input-sm {
    margin-left: 10px !important;
}
.dataTables_length label {
    text-transform: capitalize;
}
.dataTables_length select.form-control.input-sm {
    margin: 10px !important;
}
/* 24-06-2024 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --color-main: #f3950d;
  --main-accent: #ffebcc;
  --bg: #f5eedc;
  --bg-2: #dce5ff;
  --main: #292c6d;
  --shadow: rgba(17, 17, 26, 0.1) 2px 0px 16px;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  box-sizing: border-box;
}

.section-head img {
  width: 100%;
  height: auto;
}
.section-head  #menu-toggle {
  display: none;
}
.section-head  #menu-toggle:checked ~ .sidebar {
  left: -345px;
}
.section-head  #menu-toggle:checked ~ .main-content {
  margin-left: 0;
  width: 100vw;
}
.section-head  .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  display: none;
  background-color: rgba(255, 255, 255, 0.5);
}

/* helper */
.section-head  .sidebar {
  width: 345px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 1rem 1.2rem;
  transition: left 300ms;
}
.section-head  .brand {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-head  .brand h3 {
  color: #444;
  font-size: 3rem;
}
.section-head  .brand h3 span {
  color: var(--color-main);
  font-size: 2.5rem;
  display: inline-block;
  margin-right: 0.5rem;
}

.section-head .side-card-icon + div p {
  font-size: 0.8rem;
  color: #555;
}
.section-head .btn {
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.section-head .btn span {
  font-size: 1.2rem;
  display: inline-block;
  margin-right: 0.7rem;
}
.section-head .btn-block {
  display: block;
  width: 100%;
}
.section-head .btn-main {
  background-color: var(--color-main);
  color: #fff;
}
/* main */
.section-head .main-content {
  margin-left: 345px;
  width: calc(100vw - 345px);
  padding: 1rem 2rem 1.2rem 1.2rem;
  transition: margin-left 300ms;
}
/* Header */
.section-head header {
  display: flex;
  padding-top: 0.5rem;
  justify-content: space-between;
}
.section-head .header-wrapper {
  display: flex;
}
.section-head .header-wrapper label {
  display: inline-block;
  color: var(--color-main);
  margin-right: 2rem;
  font-size: 1.8rem;
}
.section-head .header-wrapper label span:hover {
  cursor: pointer;
}
.section-head.header-title h1 {
  color: var(--main-text);
  font-weight: 600;
}
.section-head .header-title p {
  color: #666;
  font-size: 0.9rem;
}
.section-head .header-title p span {
  color: red;
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 0.5rem;
}
.section-head .header-action button {
  padding: 0.85rem 2rem;
  font-size: 1rem;
}

.section-head main {
  padding: 2.5rem 0;
}
.section-head .analytics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2.5rem;
  margin-bottom: 3rem;
}
.section-head .analytic {
  box-shadow: var(--shadow);
  padding: 1.5rem;
  border-radius: 10px;
  display: flex;
  padding-left: 2rem;
}
.section-head .analytic-info h4 {
  font-weight: 400;
  color: #555;
  font-size: 14px;
}
.section-head .analytic-info h1 {
  color: var(--main-text);
  font-weight: 600;
}
.section-head .analytic-info h1 small {
  font-size: 14px;
  font-weight: 700;
}
.section-head .analytic:first-child .analytic-icon {
  background-color: #dce5ff;
  color: #6883db;
}
.section-head .analytic:nth-child(2) .analytic-icon {
  background-color: #ebf7f5;
  color: red;
}
.section-head .analytic:nth-child(3) .analytic-icon {
  background-color: #ebf7f5;
  color: #2ec3a3;
}
.section-head .analytic:nth-child(4) .analytic-icon {
  background-color: var(--main-accent);
  color: var(--color-main);
}
.section-head .analytic-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-right: 0.8rem;
}
.section-head .section-head {
  font-size: 18px;
  color: #000;
  font-weight: 600;
  margin-bottom: 1rem;
}
 .section-head .block-grid {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 30% auto;
} 
.sm\:p-5 {
    padding: 1.25rem;
}
.section-head canvas#line-chart {
    width: 100% !important;
}
.section-head .rev-content {
  background-color: #fff;
  box-shadow: var(--shadow);
  border-radius: 15px;
  padding: 1rem 2rem;
  text-align: center;
}
.section-head .rev-content img {
  width: 56px;
  margin: 1.5rem 0;
  border-radius: 50%;
}
.section-head .rev-info {
  margin-bottom: 1rem;
}
.rev-info h3,
.rev-sum h4 {
  font-weight: 600;
  color: var(--main);
}
.rev-info h1,
.rev-sum h2 {
  font-weight: 400;
  margin-top: 0.4rem;
  color: #555;
}
.section-head .rev-info h1 small {
  font-size: 1rem;
}
.section-head .rev-sum {
  background-color: var(--main-accent);
  border: 1px solid var(--color-main);
  padding: 1rem;
  border-radius: 10px;
}
.section-head .graph-content {
  border-radius: 15px;
  box-shadow: var(--shadow);
  padding: 1rem;
  background-color: #fff;
}
.section-head .graph-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-wrapper {
  display: flex;
  align-items: center;
}
.section-head .icon {
  height: 40px;
  width: 40px;
  border-radius: 7px;
  background-color: #eee;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
  margin-right: 0.8rem;
}
.section-head .graph-head select {
  outline: none;
  background-color: #eee;
  height: 35px;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  border: none;
}
.section-head .overlay label {
  display: block;
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 1224px) {
  .section-head .main-content {
    width: 100vw;
    margin-left: 0;
  }
  .section-head #menu-toggle:checked ~ .sidebar {
    left: 0;
  }
  .section-head #menu-toggle:checked ~ .overlay {
    display: block;
    text-align: right;
  }
}
@media only screen and (max-width: 860px) {
  .analytics {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-head  .block-grid {
    grid-template-columns: 100%;
  }
  .section-head .revenue-card {
    order: 2;
  }
}
@media only screen and (max-width: 580px) {
    .section-head .analytics {
    grid-template-columns: 100%;
  }
}
@media only screen and (max-width: 500px) {
    .section-head  .header,
  header-wrapper {
    align-items: center;
  }
  .section-head .header-title h1 {
    font-size: 1.2em;
  }
  .section-head  .header-title p {
    display: none;
  }
}
.red_box {
    background-color: #ff0000 !important;
    border-color: #ff0000 !important;
}
.green_box{
    background-color: #3fc1a5 !important;
    border-color: #3fc1a5 !important;
}
.red_box:hover {
    background: #df0909 !important;
    border-color: #ff0000 !important;
}
.green_box:hover{
   background-color: #04a783 !important;
    border-color: #3fc1a5 !important;

}
table.dashboard {
    width: 100%;
}
table.dashboard {
    width: 100%;
    margin: 35px 0;
}
table.dashboard th, td {
    padding: 10px;
}
table.dashboard tr:nth-child(odd){
    background: #fff;
}
img.form-profile-pic {
    width: 67px;
    border-radius: 50px;
    border: 5px solid #fff;
}
.p-image {
    position: absolute;
    top: 160px;
    left: 51px;
}
.file-upload {
    opacity: 0 !important;
    position: absolute;
    top: -42px;
    height: 57px;
    left: -48px;
    width: 75px;
    cursor: pointer;
}
.upload-button {
    font-size: 1.2em;
    color: #d6a334;
}
.direction-section.section-head .analytic {
    align-items: center;
}
.direction-section.section-head .analytic-icon {
    width: 20px;
    height: 20px;
}
.half-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5rem;
    margin-bottom: 3rem;
}
#sidebar-menu a {
  font-size: 13px ; 
}
.action_icon img {
  filter: brightness(0) invert(1);
}