.add_field  input.form-field,.add_field  select.form-field.select-field-type  {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.add_field input.form-control,.add_field textarea.form-control.textarea{
    background: #fff !important;
}
label {
    color: #000;
    font-weight: 600 !important;
}
.Required_label label {
    display: flex;
    align-items: center;
}
.Required_label input.form-control {
    width: auto;
    margin-right: 6px !important;
    box-shadow: none;
}
span.add-new-field {
    background: #bc9c23;
    padding: 10px;
    color: #ffff;
    position: relative;
    top: -8px;
    float: right;
}
span.remove-field.text-danger {
    float: right;
    background: #a94442;
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
}
.redio_btns {
    width: auto;
}
.add_field  button {
    padding: 10px;
    background: #337ab7;
    color: #fff;
    border: none;
}
.add_field .row {
    margin: 0 !important;
}
a.btn.btn-primary {
    margin-right: 0;
}
.custom-list-dropdown .dropdown-menu {
    width: 100%;
    margin: 0;
    padding: 10px 2px;
}
.add_field .form-field.textarea {
    width: 100%;
    background: #fff;
    border-radius: 5px;
}
.mcq.mcq-parent {
    display: flow-root;
    column-gap: 10px;
}
.add-mcq {
    display: block;
}
.form-field.redio_btns {
    width: auto !important;
}
.mcq.mcq-parent .mcq-field {
    padding: 12px 12px 12px 0;
}
.remove-mcq {
    position: absolute;
    top: 14px;
    right: 20px;
}
input.form-control {
    box-shadow: none;
}
.main-fields-div {
    background: #e7e7e7;
    padding: 20px 15px;
    border-radius: 10px;
    margin: 10px 0;
}
.submit_all_fields .redio_btns {
    margin: 0 10px 0 0 !important;
}
.submit_all_fields span {
    display: flex;
    align-items: center;
}
.submit_all_fields {
    display: flex;
    column-gap: 10px;
}
.submit_all_fields .redio_btns {
    width: auto;
}
.form_fields {
    margin: 20px 0 0 0;
}
.answer {
    margin-left: 50px;
    font-size: 16px;
}
.answer-div label {
    font-size: 18px;
}
.w-50-cust {
    width: 49%;
}
.d-flex-cust {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
textarea.form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
}
.mt-10 {
    margin-top: 10px;
}
table td.email {
    text-transform: none;
}
/*  */
.nav>li>a {
    display: flex;
    align-items: center;
}
.toggle a {
    margin-left: 6px;
}

.navbar-right button {
    padding: 10px 20px;
    font-family: Poppins;
    font-weight: 500;
    width: 100%;
    text-align: left;
    margin: 0;
    color: #000;
}
.navbar-right form {
    display: flex;
    align-items: center;
}

.navbar-right i.fa.fa-sign-out.pull-right {
    font-size: 15px;
    position: relative;
    left: 9px;
    top: 3px;
}
#personal-info select.form-control {
    margin: 10px 0 !important;
}
.alert-success {
    background-color: rgb(192 163 52);
    border-color: rgb(192 163 52);
}
select.form-control {
    margin: 10px 0 !important;
}
.nav.title h2 {
    font-size: 16px !important;
    font-family: "poppins";
}
.error-list-none {
    list-style: none;
    padding: 0;
}
.error-list-none li {
    color: #a94442;
    font-size: 13px;
}
.profile-pic-main img {
    width: 150px;
    margin: auto;
    display: flex;
    border-radius: 50%;
    border: 1px solid #dcd6d6;
    height: 150px;
    object-fit: cover;
}
input.is-invalid {
    border-color: #a94442 !important;
}
.table-form-btn button {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
}