.col-md-55, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding: 0;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('img/loading.gif') 50% 50% no-repeat rgb(249,249,249);
}
 .sigPad {
     padding: 0px;
     width: 100%;
     border: 0px;
     border-radius: 0px;
     overflow: auto;
 }
.sigNav {
    display: none;
    height: 2.25em;
    margin: 0;
    padding: 0;
    position: relative;
    list-style-type: none;
    background: #343951;
    color: #fff;
}
.sigNav li {
    display: inline;
    float: left;
    margin: 0;
    padding: 6px;
    border-radius: 0px;
}
.sigNav a, .sigNav a:link, .sigNav a:visited {
    display: block;
    margin: 0;
    padding: 0 0.6em;
    border: 0;
    color: #fff;
    font-weight: bold;
    line-height: 1.25em;
    text-decoration: none;
}
p.error {
    display: block;
    margin: 0;
    padding: 0.3em;
    background-color: #f33;
    color: #fff;
    font-weight: bold;
}
.sigWrapper {
    clear: both;
    height: 100px;
    border: 1px solid #343951;
}
  img {
      max-width: 100%;
  }
#signature-pad {
    border: 1px solid #ddd;
    margin-top:10px;
    margin-left: 3px;
}

  .password-progress {
      margin-top: 10px;
      margin-bottom: 0;
  }
#valid-msg{
    color: green;
}
#error-msg{
    color: red;
}
.intl-tel-input{
    width: 100%;
}
body td.text-center a.btn.btn-info.btn-sm {
    margin: auto 5px !important;
}
.navbar-expand-sm .navbar-nav {
    flex-direction: column !important;
}
.col-md-2 {
    width: 14% !important;
}
div#menu {
    padding:0px 0 0 10px !important;
}
.nav-link:focus, .nav-link:hover{
    color:#ffffff !important;
background: rgb(231, 176, 22) ;
}
.navbar .container-fluid {
    display: block !important;
    padding: 10px 0px 0 5px;
}
nav.navbar.navbar-expand-sm.bg-dark.navbar-dark {
    height: 100%;
    align-items: flex-start;
}
.sub_section_menu {
    margin-top:5px !important;
    margin-left: 15px;
    margin-bottom:5px;
}
h2.nav {
    color: #c0a334;
    font-family: The Seasons;
    font-size: 18px !important;
    font-weight: 400;
    text-align: left;
    margin: 0 !important;
}
.nav-link i {
    margin-right: 5px !important;
    color:#c0a334;
    font-size: 16px !important;
}
a.nav-link {
    font-size: 12px;
    margin-right: 5px;
    transition: none !important;
    color: #000 !important;
}
.nav-item.dropdown:hover i {
    color:#fff !important;
}
.navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute;
    left: 150px;
    top:0px;
}
li {
    font-size: 12px;
}
a.button1 {
    background: #c0a334;
}
a.button2 {
    background: #a2a2a2;
}
a.button3 {
    background: #FE644E;
}
a.button4 {
    background: #696CFF;
}
a.button5 {
    background: #5C9E54;
}
a.button6 {
    background:#c0a334;
}
a.button6,a.button5, a.button4, a.button3, a.button2, a.button1{
    font-size: 12px;
    padding: 5px 5px;
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    border-radius: 20px;
    width: 150px !important;
    display: inline-block;
    text-align: center;
}
.students, .messages {
    margin: 4px 0;
    color: #c0a334;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
}
.teachers, .classes{
    margin: 4px 0;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
    color: #508a52;
}
.clinicians{
 margin: 4px 0;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
   color:#FE644E;
}
.patients, .notifications{
    margin: 4px 0;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
    color: #000000;
}
.card-body h6 {
    color: black !important;
    font-family: Poppins;
    font-size: 14px !important;
    font-weight: 500;
    line-height: 27px;
}
.card-body p {
    color: #c0a334;
    font-family: Poppins;
    font-weight: 400;
    margin: 0;
}
div#count {
    box-shadow:0px 7px 10px 0px #00000026;
    background: white;
    padding: 10px 0px 10px 10px;
   border-radius: 15px;
    margin: 30px 0px 10px -8px;
    text-align: center;
}
#num {
    border-top: 1px solid #dadada;
    padding: 0 10px !important;
}
.text {
    margin-left: -10px;
}
#card-body1{
    border-right: 2px solid #929292;
}
.btn-primary {
  padding: 6px 18px;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    font-family: poppins;
} 
.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #286090;
}
form.d-flex {
        display: flex;
    margin: 15px 5px 15px 0;
}
.card {
    height: 75px;
    width: 100%;
    margin-bottom: 12px;
    border-radius: 10px;
}
.tag h2 {
    font-size: 20px !important;
    color: #a5a5a5;
    margin-top: 8px;
}
div#actions p {
    font-size: 12px;
    padding:0;
    margin: 0px !important;
}
div#actions img {
    max-height: 25px !important;
    margin-right: 5px;
}
img.img1 {
    height: 12px !important;
    margin-left: 8px !important;
}
h2 {
    font-size: 16px !important;
}
div#actions {
    display: flex;
    background: #fff7f7;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    align-items: center;
    box-shadow: 0px 4px 5px 0px #00000026;
}
#meet{
    border-left: 1px solid #dadada;
    border-top: 1px solid #dadada;
    padding-left: 10px;
}
#meet .buttons {
    margin-top: 20px;
}
/*28-03-2024*/
.login_content form {
    background: rgb(255, 255, 255);
    padding: 54px 50px;
    margin: 0px !important;
    height:420px;
}
section.login_content {
    width: 50%;
    float: right;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 0;
}
.login .login_wrapper {
    right: 0;
    margin: 10% auto 0;
    max-width:52%;
    position: relative;
}
.Login-img {
    width: 50%;
    float: left;
}
.Login-img img {
    height: 420px;
    width: 100%;
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
}
section.login_content h1 {
    font-size: 30px;
    color: #000;
    font-weight: 700;
}
.login {
    background: #bc9c23 !important;
  }
  .login_content h1:after, .login_content h1:before {
    content:none !important;
  }
  section.login_content img {
    margin: 0 0 20px 0;
    border: 1px solid #bc9c23;
}
.login_content .separator {
    border-top: 1px solid #D8D8D8;
    margin-top: 40px;
    padding-top: 10px;
}
/*03-04-2024*/
.fc-event-title::first-letter {
    text-transform: uppercase;
}
.modal-content {
    padding: 20px;
    background: #1a242f;
}

.modal-header {
    background: none;
    padding: 0;
    border: none;
}

div#assessment-details {
    color: #160b0b;
    background: #fff;
    padding: 10px;
}

button.close {
    margin: 0;
    color: #fff;
    opacity: 2;
    position: relative;
    top: -25px;
}

.modal-body {
    padding: 0;
}

.modal-footer {
    background: no-repeat;
    padding-bottom: 0;
    padding-right: 0;
}
a#edit-assessment-link {
    margin-right: 0;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    background: #3d3d3d !important;
    color: #fff;
}
li.paginate_button.active a {
    background: #c0a334 !important;
    border-color: #c0a334 !important;
}
/*03-04-2024*/
.student-dashboard {
    text-align: left !important;
    padding: 20px !important;
    margin-left: 7px !important;
}
/*  */
.fc-event-title::first-letter {
    text-transform: uppercase;
}
.modal-content {
    padding: 20px;
    background: #1a242f;
}

.modal-header {
    background: none;
    padding: 0;
    border: none;
}

div#assessment-details {
    color: #160b0b;
    background: #fff;
    padding: 10px;
}

button.close {
    margin: 0;
    color: #fff !important;
    opacity: 2;
    position: relative;
    top: -25px;
}

.modal-body {
    padding: 0;
}

.modal-footer {
    background: no-repeat;
    padding-bottom: 0;
    padding-right: 0;
}
a#edit-assessment-link {
    margin-right: 0;
}
.x_panel .x_content form {
    padding: 0;
}
form button.btn.btn-primary {
    margin-top: 13px;
}
input.form-control-file {
    padding-bottom: 10px;
}
td.text-center {
    display: flex;
}
div#assignment-details {
    background: #fff;
    padding: 10px;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    background: #3d3d3d !important;
    color: #fff;
}
li.paginate_button.active a {
    background: #c0a334 !important;
    border-color: #c0a334 !important;
}
form#searchForm button#searchButton { 
    margin: 0;
}
.search p {
    padding: 0;
    margin: 0 10px 0 0 !important;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 300;
    line-height: 19.5px;
}
td.text-center form {
    padding: 0;
}
li.nav-item.active a {
    color: #fff !important;
}
button.fc-dayGridMonth-button::first-letter {
    text-transform: uppercase;
}
button.fc-dayGridDay-button.fc-button.fc-button-primary,button.fc-today-button.fc-button.fc-button-primary {
    text-transform: capitalize;
}
.search label {
    margin-right:5px !important;
}
.buttons label {
    background: #ADADAD;
    padding: 6px 18px;
    color: #fff;
    margin-bottom: 0px;
    border-radius: 0;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 22.5px;
}
.category-btn {
    display: none;
}
.row.top_tiles h2 {
    font-size: 20px !important;
    font-weight: 500;
    font-family: "The Seasons";
}
ul.nav.navbar-nav.navbar-right li>a:focus {
    background: #c0a334 !important;
    color: #fff !important;
}
ul.nav.navbar-nav.navbar-right li>a:focus img{
 filter: none !important;
}
.form-check {
    display: flex;
    align-items: center;
}

input.form-check-input {
    position: relative;
    left: 31px;
    display: flex;
    margin-top: -1px;
    align-items: center;
}
.students-table table, td, th {  
    border: 1px solid #ddd !important;
    text-align: left;
  }
  
  .students-table table {
    border-collapse: collapse;
    width: 100%;
  }
  .fc-button-group .fc-button-primary {
    text-transform: capitalize;
}
  .students-table th {
    padding: 10px;
  }
  .students-table  td {
    padding: 10px;
}
.students-table label {
    padding-bottom: 10px;
    margin: 0;
}
.students-table {
    padding: 20px 0;
}
a#personal-info-tab {
    color: #000 !important;
}
li.nav-item.active a#personal-info-tab {
    color: #fff !important;
}
 li.nav-item:hover a#personal-info-tab {
    color: #fff !important;
}
.student-dashboard {
    margin-left: 0 !important;
}

/*08-04-2024*/
.module td {
    padding: 15px;
}
input.form-control.mb-2 {
    margin: 4px 0 22px;
}
.date-end {
    display: flex;
    column-gap: 26px;
}

.date-end .form-group {
    width: 100%;
}
ul#selectedName a {
    font-size: 16px;
    color: #c0a334;
}
.student-dashboard {
    text-align: left !important;
    padding: 20px !important;
}
.enrollments-student label.form-check-label {
    margin-left: 50px;
}
.form-control {
    border-radius: 0;
    width: 100%;
    margin: 10px 0;
}
button.btn.btn-danger.btn-sm.delete-question.mt-5 {
    margin: 0 17px !important;
}
.form-check label.form-check-label {
    margin-left: 40px;
}

/*09-04-2024*/
.search button#searchButton {
    margin: 10px;
}

.teachers-popup input#subject_content {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
}

.teachers-popup textarea#message_content {
    margin: 10px 0;
    border-radius: 5px;
    width: 100%;
}

.teachers-popup h4.modal-title {
    padding-bottom: 10px;
}

.teachers-popup .modal-footer {
    border: none;
}
.teachers-popup button.close {
    position: relative;
    top: 0;
}
ul.nav.side-menu img {
    margin-right: 10px;
}
ul.nav.side-menu a:hover img, .nav.side-menu>li.active>a>img, .nav.side-menu>li.active>a>i {
    filter: brightness(0) invert(1);
}
.btn-group-sm>.btn, .btn-sm {
    padding: 6px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.x_content.app-setting input[type="file"] {
    margin-top: 10px;
}
form#demo-form2 input {
    padding-left: 10px;
}
div#datatable_length, div#submissions_table_length {
    margin: 10px 0 0 0;
}
div#assignment-edit button.btn.btn-danger {
    margin: 0 5px 13px;
}
form#searchForm button#searchButton {
    margin: 10px 0px !important;
}
button.btn.btn-danger {
    margin: 0 !important;
}

button.btn, a.btn.btn-info {
    margin:0 5px 0 0px !important;
}
a.btn.btn-info.btn-sm.edit-btn1 {
    margin: 0 !important;
}
a.btn.btn-warning.btn-sm {
    margin: 0 10px;
}
a.btn.btn-primary.margin-btn {
    margin-top: 15px;
}
a.btn.btn-danger.btn-sm, .btn-danger{
    margin: 0px !important;
}
/* .fc-daygrid-dot-event .fc-event-time, .fc-daygrid-dot-event .fc-event-title {
    color: #000 !important;
} */
.fc-daygrid-event-dot {
    border: 3px solid #000 !important;
    display: none;
}
input.class-editable-name {
    padding-left: 12px !important;
}
.fc-daygrid-event-harness {
	right: 0 !important;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.main-calender .calender-loader {
    opacity: 0.7;
    position: fixed;
    left: 22%;
    top:10%;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(https://martelly.ca/lms/public/img/double_ring.svg) 50% 50% no-repeat rgba(185, 243, 255, 0.19);
}
.fc .fc-daygrid-body-balanced .fc-daygrid-day-events {
    position: relative !important;
}
.fc-h-event .fc-event-main {
    margin-bottom: -4px;
}
a.fc-event.fc-event-draggable.fc-event-end.assignment-event.fc-daygrid-event.fc-daygrid-block-event.fc-h-event {
    margin:26px 0 0px 0 !important;
}
a.fc-event {
    display: block !important;
    border-left: 2px solid #000;
    padding-left: 5px;
}
.fc .fc-daygrid-event {
    margin-top:3px !important;
}
a.fc-event:hover, a.fc-event:hover, .assignment-event:hover {
    background: #BC9C2233 !important;
    color: #000 !important;
}
.animate .alert.alert-danger {
    background: none !important;
    border: navajowhite;
    color: red;
    padding: 0px !important;
    margin: 0px !important;
    list-style: none !important;
}
.animate .alert.alert-danger li {
    list-style: none;
    text-align: left;
    padding: 0;
    font-size:14px;
    margin: 0;
}
.animate .alert.alert-danger ul {
    margin: 0 !important;
    padding: 0 0 15px 0 !important;
}
.right_col td {
    vertical-align: middle !important;
}
.form-check.attendance-checkbox {
    margin-left: -20px;
}
.right_col .alert-danger{
    color: #fff !important;
    padding: 5px;
    background-color: rgb(255 0 0 / 88%);
    border-color: rgb(255 0 0 / 88%);
}
.right_col .alert-danger li {
    font-size:16px;
list-style:none;
}
.table-bordered .checkbox.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px !important;
}
.checkbox, .radio{
    margin-top: 0px;
}
.actions-btn a.btn-info {
    padding: 4px 6px;
}
.col-md-6.student-asses, .col-md-6.student-assign {
    display: grid;
    justify-content: center;
}
.col-md-6.student-asses {
    border-left: 2px solid #ddd;
}
.student-dashboard {
    display: flex !important;
    justify-content: center;
}
.student-assign ul, .student-asses ul {
    padding: 0px 0px 0 15px;
    color: #000;
    text-transform: capitalize;
    font-family: poppins;
}
.student-assign h4, .student-asses h4 {
    margin-right: 20px;
    color:red;
}
a.user-profile.dropdown-toggle {
    display: list-item;
}
a#picture_change {
    padding: 2px 6px;
}
form#update_profile_form  input#name, form#update_profile_form input#email {
    padding-left:10px;
}
form#update_profile_form img {
    border-radius: 50%;
}
button#assign_course_btn, button#assign_patient_btn {
    margin: 0 15px !important;
}
ul#assigned_clinicians .edit-clinician {
    margin:0px 5px 0 0px !important;
}
.phpdebugbar-restore-btn {
    display: none !important;
}
.col-md-2.col-sm-6.col-xs-6.calender-btn2 {
    width: 14% !important;
    padding-right:10px;
}
#enrollmentsTableBody img.img-thumbnail {
    object-fit: cover;
    height: 100px !important;
    width: 120px !important;
    padding:0;
}
.sidebar-footer.hidden-small {
    display: none;
}
.breadcrumb-arrow li a {
    background-color: #000000 !important;
    border: 1px solid #000000 !important;
}
.breadcrumb-arrow li a:after {
    border-left: 11px solid #000000 !important;
}
.breadcrumb-arrow li a:before {
    border-left-color: #000000 !important;
}
div#datatable_info,div#datatable_filter label, .form-group label, ul.pagination li,
 table.dataTable, div#datatable_length, li.nav-item.active a, .students-table table, #enrollmentsTableBody p, table label,
  .tab-content.mt-3 p, ul.nav.nav-tabs a, .tab-pane.fade li, .x_title p, .mb-3 label.form-label {
   font-size: 14px !important;
    text-transform: capitalize;
    font-family: Poppins;
    font-weight: 400;
}
.file_input_container {
    margin-bottom: 10px;
}
input.form-control {
    margin: 10px 0 !important;
    border-radius: .25rem;
}
input#searchInput {
    margin: 0px !important;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 300;
    line-height: 22.5px;
    border: 1px solid #E2E2E2 !important;
    border-radius: 60px;
}

div#submissions {
    padding: 0 15px;
}
select.form-control.input-sm {
    border-radius: .25rem !important;
}
button#modal_close {
    margin-top: 20px;
    color:#000 !important;
    border:2px solid #000;
    padding:4px 10px;
}
#modalChangePicture h4.modal-title {
    color: #000 !important;
    border-bottom: 1px solid #c0a334;
    display: inline-block;
    padding-bottom: 2px;
    margin-bottom: 30px;
}   
#modalChangePicture .modal-content {
    padding: 30px 20px 0;
    background: #ffffff;
}
#modalChangePicture .modal-dialog {
    display: flex;
    height: 100vh;
    align-items: center;
}
.form-control{
    margin: 0 !important;
}
.question-btn {
    display: flex;
    align-items: center;
}
.btn-info:hover{
    border-color: #d8b329 !important;
    background: #d8b329 !important;
}
a.view-data {
    padding: 6px 16px;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    font-family: poppins;
    margin: 10px 0px 0 5px !important;
    display: inline-block;
}
a {
    color: #000;
}
table#datatable .label-success:hover{
     border-color:#449e46 !important;
    background:#449e46 !important;
}
ul.nav.child_menu a, tbody#enrollmentsTableBody a {
    color: #000;
}
.navbar.nav_title img {
    max-width: 135px;
    margin-left: 5px;
}
a#menu_toggle img {
    max-width: 35px !important;
}
.x_title.student-course3 {
    display: flex;
    justify-content: space-between;
}
.btn-danger:hover {
    background: #ff0000bf !important;
    border-color: #ff0000bf !important;
}
.send-msg button {
    padding: 5px 10px !important;
    border-radius:.25rem !important;
}
.send-msg i {
    margin-right: 5px;
    margin-top:1px;
}
.fc-h-event .fc-event-main-frame {
    display: block !important;
}
.fc-h-event .fc-event-main {
    color: #000;
}
.fc .fc-more-popover .fc-popover-body {
    padding:6px;
}
.fc-h-event .fc-event-main:hover {
    color: #000000;
}
.modal-lg {
    width: 335px;
    position: absolute;
    left: 40%;
    top: 20%;
}
 .modal-content.teacher-db form {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.question-btn label {
    margin: 12px 0 0 0;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 7px 12px;
    font-size: 14px;
    font-weight: 400;
}
.question-btn input#html {
    margin: 12px 10px 0px 10px;
}
input.form-control-file {
    width: 100% !important;
    border: 1px solid #ccc;
    padding: 10px;
}
li.dropdown.open i.fa.fa-clone {
    color: white !important;
}
input#get_home_url .col-md-10.col-sm-6.col-xs-6 {
    padding-left: 10px !important;
}
.navbar-right span.fa.fa-angle-down {
    margin:0 5px;
}
.right_col .col-md-10.col-sm-6.col-xs-6 {
    width: 86%;
}
div.card-body p:before {
    content: ">";
    left:88%;
    bottom:-5px;
    position: absolute;
    color:#000;
    font-size:14px;
    font-weight:400;
}
@media (max-width: 767px) {
    .Login-img {
    width: 100% !important;
    display: none !important;
}
.login_content form {
    height: 360px !important;
}
.login .login_wrapper {
    margin: 0 !important;
    max-width: 100% !important;
}
.login {
    height: 100vh !important;
    align-items: center !important;
    display: grid;
    overflow-y: clip !important;
}
section.login_content {
    width: 100% !important;
    float: none !important;
    box-shadow: none !important;
    padding: 0 10px !important;
}
.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
}
.search label {
    margin: 5px !important;
}
.text {
    margin-left: 0px !important;
    margin-right: 5px !important;
}
div#count {
    padding: 10px 5px !important;
    margin: 30px 0px 10px 0px !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#num .col-md-6 {
    padding: 0 !important;
    width: 100% !important;
}
.buttons a {
    margin: 5px !important;
}
#num {
    margin: 0 10px !important;
}
div#meet {
    width: 100% !important;
    padding: 0px !important;
}
  .main-calender {
        padding: 10px !important;
        margin: 0 10px;
    }
#meet .buttons {
    margin: 20px 10px 0 10px !important;
}
.x_title h2 {
    width: 40%;
}
div#datatable_info {
    margin-right: 20px;
}
}
