.navbar-expand-sm .navbar-nav {
    flex-direction: column !important;
}
.col-md-2{
    width: 12% !important;
}
div#menu {
    padding:0px 0 0 10px !important;
}
.nav-link:hover i {
    color: #fff;
}
.nav-link:focus, .nav-link:hover{
    color:#ffffff !important;
background: rgb(231, 176, 22) ;
}
.navbar .container-fluid {
    display: block !important;
    padding: 10px 0px 0 5px;
}
nav.navbar.navbar-expand-sm.bg-dark.navbar-dark {
    height: 100%;
    align-items: flex-start;
}
h2.nav {
    color:#E7B016;
    font-size: 13px !important;
    margin-left: 5px;
}
.nav-link i {
    margin-right: 5px !important;
    color:#E7B016;
    font-size: 16px !important;
}
a.nav-link {
    font-size: 12px;
    margin-right: 5px;
    transition: none !important;
    color: #000 !important;
}
.nav-item.dropdown:hover i {
    color:#fff !important;
}
.navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute;
    left: 150px;
    top:0px;
}
li {
    font-size: 12px;
}
a.button1 {
    background: #E7B016;
    padding:  5px 15px;
    text-decoration: none;
    color: #fff;
    margin-right: 7px;
    font-size: 12px;
}
a.button2 {
    font-size: 12px;
    padding:  5px 15px;
    background: #a2a2a2;
    color: #fff;
    text-decoration: none;
    margin-right: 7px;
}
a.button3 {
    font-size: 12px;
    color: #fff;
    background: rgb(228, 10, 10);
    padding: 6px 14px;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 20px;
}
a.button4 {
    font-size: 12px;
    color: #fff;
    background: #5257b4;
    padding: 6px 14px;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 20px;
}
a.button5 {
    font-size: 12px;
    color: #fff;
    background: #508a52;
    padding: 6px 14px;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 20px;
}
a.button6 {
    font-size: 12px;
    background:#E7B016;
    padding: 6px 14px;
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    border-radius: 20px;
}
.students{
    font-size: 25px;
    color:#E7B016;
}
.teachers{
    font-size: 25px;
    color: #508a52;
}
.clinicians{
    font-size: 25px;
    color:rgb(228, 10, 10);
}
.patients{
    font-size: 25px;
    color: #000000;
}
.card-body h6 {
    color: black !important;
    font-size: 16px;
}
.card-body p {
    font-size: 10px;
    color: #E7B016;
}
div#count {
    box-shadow: rgba(0, 0, 0, 0.11) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px inset;
    background: white;
    padding:10px 0px 0px 45px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 7px;
    margin-top: 35px
}
#num {
    border-top: 1px solid #dadada;
    padding: 0 40px 0 0px !important;
}
.search p {
    margin: -12px 0 5px 0 !important;
    font-size: 12px;
}
.text {
    margin-left: -10px;
}
#card-body1{
    border-right: 2px solid #929292;
}
button.btn.btn-primary {
    display: none;
}
form.d-flex {
    margin: 15px 0 15px 0;
}
.card {
    height: 90px;
    width: 100%;
    margin-bottom: 12px;
}
.tag h2 {
    font-size: 20px !important;
    color: #a5a5a5;
}
div#actions p {
    font-size: 12px;
}
div#actions p {
    font-size: 12px;
    padding: 10px 0px 0px 0;
}
img.img1 {
    height: 20px !important;
    margin-left:10px !important;
}
div#actions img {
    max-height: 35px !important;
}
h2 {
    font-size: 16px !important;
}
div#actions {
    padding: 10px 0px 0px 0;
    background: #fff7f7;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#meet{
    border-left: 1px solid #dadada;
    border-top: 1px solid #dadada;
}
#num{
    border-top: 1px solid #dadada;
}
#meet .buttons {
    margin-top: 20px;
}
.tag {
    margin-left: 60px;
    display: flex;
    margin-top: 10px;
}
div#top-icon i {
    margin-left: 12px;
    font-weight: 600;
}
#top-icon{
    margin-left: 40px;
    display: flex;
}
a.dropdown-item:hover {
    padding: 10px !important;
    background: #e7b016 !important;
    color: #fff !important;
}
.tag img {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    border: 1px solid #000;
    margin-left: 6px;
    margin-top: -5px;
}
.form-control {
    height: 30px;
}
    #top-icon a.nav-link.dropdown-toggle {
        background-color: transparent;
        color: #000 !important;
    }
    #top-icon i.nav-link:hover {
        background-color: transparent;
        color: #000 !important;
    }
    #top-icon i:hover{
        color: #e7b016 !important;
    }
    #top-icon #name{
        font-size: 12px;
        margin-left: 20px;
    }
   