form#searchForm button#searchButton {
    margin: 10px 0px !important;
}
button.btn.btn-danger {
    margin: 0px !important;
}
button.btn.btn-danger.btn-sm.delete-question.mt-5 {
    margin: 0 17px !important;
}
input.form-control.edit-class-name {
    width: 20%;
    border-right: none !important;
}
.class-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
input.class-editable-name {
    height: 34px;
    border-left: none !important;
    width: 100%;
    padding: 0 12px !important;
    border-top: 1px solid #aaa;
    border-right:1px solid #aaa;
    border-bottom:1px solid #aaa;
    margin: 0px !important;
}
label.form-check-label {
    padding: 0;
    margin: 0;
}
.nav-sm ul.nav.child_menu li i.fa {
    color: #c0a334;
    text-align: left;
    width: auto !important;
    margin-right: 10px;
}
.nav-sm ul.nav.child_menu li a {
    display: flex;
    text-align: left !important;
    align-items: center;
}
.nav-sm ul.nav.child_menu {
    background: #ffffff;
}
.nav-sm .sub_section_menu {
    margin: 0 !important;  
}
.session-event{
    background-color: #BC9C221A !important;
    color: #000 !important;
    border-left:2px solid #BC9C22 !important;
}
.assessment-event{
    background-color:#FE644E1A !important;
    color: #000 !important;
    border-left:2px solid #FE644E !important;
}
.assignment-event{
    background-color:#696CFF1A !important;
    color: #000 !important;
    border-left:2px solid #696CFF !important;
}
.patient-event{
    background-color:#5C9E541A;
    color: #000 !important !important;
    border-left:2px solid #5C9E54 !important;
}